## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [2]:
# Import API key
from config import g_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
weather_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
weather_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kahului,US,2021-09-15 02:11:44,20.8947,-156.4700,84.22,69,40,13.80,scattered clouds
1,1,East London,ZA,2021-09-15 02:11:45,-33.0153,27.9116,63.45,70,100,19.75,overcast clouds
2,2,Rikitea,PF,2021-09-15 02:11:45,-23.1203,-134.9692,74.26,78,56,13.06,broken clouds
3,3,Mataura,NZ,2021-09-15 02:11:45,-46.1927,168.8643,51.48,48,11,5.93,few clouds
4,4,Albany,US,2021-09-15 02:07:31,42.6001,-73.9662,72.73,82,97,7.49,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) & \
                                       (weather_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kahului,US,2021-09-15 02:11:44,20.8947,-156.4700,84.22,69,40,13.80,scattered clouds
5,5,Bengkulu,ID,2021-09-15 02:11:46,-3.8004,102.2655,80.69,70,87,1.90,overcast clouds
6,6,Namatanai,PG,2021-09-15 02:11:46,-3.6667,152.4333,76.03,93,100,7.29,moderate rain
16,16,Yichang,CN,2021-09-15 02:11:49,30.7144,111.2847,84.11,52,5,2.15,clear sky
20,20,Gigmoto,PH,2021-09-15 02:11:50,13.7796,124.3900,86.95,67,77,4.76,broken clouds
21,21,Tessalit,ML,2021-09-15 02:11:50,20.1986,1.0114,89.20,20,6,11.36,clear sky
23,23,Butaritari,KI,2021-09-15 02:11:51,3.0707,172.7902,82.71,73,26,11.63,scattered clouds
32,32,Vaini,TO,2021-09-15 02:11:53,-21.2000,-175.2000,80.76,83,20,5.75,few clouds
33,33,Ramona,US,2021-09-15 02:11:54,33.0417,-116.8681,79.83,68,1,3.00,clear sky
35,35,Dingle,PH,2021-09-15 02:11:54,10.9995,122.6711,84.69,77,88,7.34,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                205
City                   205
Country                205
Date                   205
Lat                    205
Lng                    205
Max Temp               205
Humidity               205
Cloudiness             205
Wind Speed             205
Current Description    205
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna() 
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kahului,US,2021-09-15 02:11:44,20.8947,-156.4700,84.22,69,40,13.80,scattered clouds
5,5,Bengkulu,ID,2021-09-15 02:11:46,-3.8004,102.2655,80.69,70,87,1.90,overcast clouds
6,6,Namatanai,PG,2021-09-15 02:11:46,-3.6667,152.4333,76.03,93,100,7.29,moderate rain
16,16,Yichang,CN,2021-09-15 02:11:49,30.7144,111.2847,84.11,52,5,2.15,clear sky
20,20,Gigmoto,PH,2021-09-15 02:11:50,13.7796,124.3900,86.95,67,77,4.76,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
638,638,Marsa Matruh,EG,2021-09-15 02:14:39,31.3525,27.2453,75.36,66,0,10.58,clear sky
642,642,Boffa,GN,2021-09-15 02:14:40,10.1667,-14.0333,75.79,93,85,1.21,light rain
646,646,Bandarbeyla,SO,2021-09-15 02:14:41,9.4942,50.8122,78.87,73,96,22.06,overcast clouds
648,648,Point Fortin,TT,2021-09-15 02:14:42,10.1833,-61.6833,82.15,81,0,12.97,clear sky
651,651,Caraballeda,VE,2021-09-15 02:14:42,10.6112,-66.8522,78.87,83,75,5.75,broken clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kahului,US,84.22,scattered clouds,20.8947,-156.4700,
5,Bengkulu,ID,80.69,overcast clouds,-3.8004,102.2655,
6,Namatanai,PG,76.03,moderate rain,-3.6667,152.4333,
16,Yichang,CN,84.11,clear sky,30.7144,111.2847,
20,Gigmoto,PH,86.95,broken clouds,13.7796,124.3900,
21,Tessalit,ML,89.20,clear sky,20.1986,1.0114,
23,Butaritari,KI,82.71,scattered clouds,3.0707,172.7902,
32,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,
33,Ramona,US,79.83,clear sky,33.0417,-116.8681,
35,Dingle,PH,84.69,overcast clouds,10.9995,122.6711,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Print hotel_df
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kahului,US,84.22,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
5,Bengkulu,ID,80.69,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
6,Namatanai,PG,76.03,moderate rain,-3.6667,152.4333,Seagulls Inn Namatani
16,Yichang,CN,84.11,clear sky,30.7144,111.2847,Gezhouba Hotel
20,Gigmoto,PH,86.95,broken clouds,13.7796,124.3900,Cj's Travellers Inn
...,...,...,...,...,...,...,...
638,Marsa Matruh,EG,75.36,clear sky,31.3525,27.2453,Beau Site
642,Boffa,GN,75.79,light rain,10.1667,-14.0333,Hôtel Niara Belly
646,Bandarbeyla,SO,78.87,overcast clouds,9.4942,50.8122,JABIR HOTEL
648,Point Fortin,TT,82.15,clear sky,10.1833,-61.6833,Jus Les' Suites
651,Caraballeda,VE,78.87,broken clouds,10.6112,-66.8522,Hotel 15 Letras

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()  
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kahului,US,84.22,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
5,Bengkulu,ID,80.69,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
6,Namatanai,PG,76.03,moderate rain,-3.6667,152.4333,Seagulls Inn Namatani
16,Yichang,CN,84.11,clear sky,30.7144,111.2847,Gezhouba Hotel
20,Gigmoto,PH,86.95,broken clouds,13.7796,124.3900,Cj's Travellers Inn
...,...,...,...,...,...,...,...
638,Marsa Matruh,EG,75.36,clear sky,31.3525,27.2453,Beau Site
642,Boffa,GN,75.79,light rain,10.1667,-14.0333,Hôtel Niara Belly
646,Bandarbeyla,SO,78.87,overcast clouds,9.4942,50.8122,JABIR HOTEL
648,Point Fortin,TT,82.15,clear sky,10.1833,-61.6833,Jus Les' Suites
651,Caraballeda,VE,78.87,broken clouds,10.6112,-66.8522,Hotel 15 Letras

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# Enable extensions
! jupyter nbextension enable --py --sys-prefix widgetsnbextension
! jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [22]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))